.welcome {
    width: 100%;
    max-height: 100vh;
}

.welcome__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-5) 0;
}

.welcome__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.welcome__title {
    margin: 0;
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-black);
}

.welcome__subtitle {
    font-size: var(--font-size-md);
}

.welcome__button {
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
    padding: 10px var(--space-5);
    border-radius: var(--radius-md);
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: 0.2s ease;
}

.welcome__button:hover {
    background-color: var(--color-button-bg-hovered);
}

.welcome__button:active {
    transform: translateY(1px);
}

.welcome__button-arrow {
    font-size: 18px;
}

.welcome__image {
    display: block;
    width: 100%;
    object-fit: cover;
}