.navbar {
    padding: var(--space-4) 0;
    border-bottom: 1px solid var(--color-border);
}

.navbar__links {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: var(--space-8);
}

.navbar__link {
    font-size: var(--font-size-md);
    color: var(--color-text-secondary);
    transition: all 0.4s ease;
}

/* hover */
.navbar__link:hover {
    color: var(--color-text-primary);
}

/* active */
.navbar__link.active {
    color: var(--color-text-primary);
}