.select-input {
    position: relative;
    width: fit-content
}

.select-input__field {
    width: 100%;
    height: 44px;
    padding: var(--space-3) var(--space-4);
    padding-right: var(--space-8);

    border-radius: 10px;
    border: 1px solid var(--color-border);
    background: var(--color-bg-secondary);

    font-size: var(--font-size-sm);

    appearance: none;
    cursor: pointer;

    transition: all 0.2s ease;
}

/* стрелка */
.select-input::after {
    content: "▾";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #8d93a6;
}

.select-input__field:focus {
    border: none;
    border-color: var(--color-text-secondary);
}